.id {
    background: linear-gradient(to bottom, #ff33d6, #3dd8f4);
    padding: 90px;
    width: 100%;
}

#full{
    background-color: rgb(242, 222, 197);
}
.about {
    background: linear-gradient(to right, #00b09b, #96c93d);
    width: 90px;
    height: 20px;
    color: white;
    border: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-lg-8 {
   position: relative;
    width: 90%;
    background: linear-gradient(to bottom, #4d94ff, #36b0ff);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-left: 0; /* Adjusted margin-left to remove extra space */
}

.container1 {
    padding: 90px;
    background: linear-gradient(to bottom, #ff33d6, #3dd8f4);
}

.content {
   
    width: 90%;
    background: linear-gradient(to right, #113d80, #09446b);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-left: 80px; /* Adjusted margin-left to remove extra space */
    height: 220px;
    color: antiquewhite;
}
#plz{
    text-align: center;
}
.button {
    background: linear-gradient(to right, #00b09b, #96c93d);
    height: 60px;
    width: 150px;
    color: white;
    border: 2px;
    margin-left: 0; /* Adjusted margin-left to remove extra space */
    border-radius: 10px;
}
.section-heading p{
    width: 100%;
    text-align: center;
}
#abtimg{
    height: 500px;
    width: 500px;
}